.headerAdmin {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #295f98;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}
.sidebar .titlemenu {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 20px;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar ul li a i {
  margin-right: 10px;
}
.sidebar ul li a:hover {
  background-color: white;
  color: #295f98;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
  position: relative;
}
.main-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin: auto;
}
.search-bar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.search-bar input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 350px;
}
.user-profile {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}
.user-profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-profile .user-info {
  text-align: right;
}
.user-profile .user-info p {
  margin: 0;
}
.user-profile .user-info .name {
  font-weight: bold;
}
.user-profile .user-info .role {
  font-size: 12px;
  color: #888;
}
