// body {
//   background-color: #1e3a8a;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
//   margin: 0;
//   font-family: Arial, sans-serif;
// }
.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
.container-register {
  position: relative;
  background: rgba(255, 255, 255, 0.436);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 20px;
  z-index: 1;
}
// .close-btn {
//   display: flex;
//   justify-content: flex-end;
// }
// .close-btn button {
//   background: none;
//   border: none;
//   color: white;
//   font-size: 1.25rem;
//   cursor: pointer;
// }
h2 {
  text-align: center;
  //   color: white;
  //   font-size: 1.5rem;
  //   margin-bottom: 1.5rem;
}
.register-form {
  margin-top: 15px;
}
.register-form label {
  color: #295f98;
  margin-bottom: 0.5rem;
  display: block;
}
.register-form .input-group {
  position: relative;
  margin-bottom: 1rem;
}
.register-form .input-group input {
  width: 100%;
  //   padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #295f98;
  color: #295f98;
  outline: none;
  font-size: 14px;
}
.register-form .input-group i {
  position: absolute;
  right: 2px;
  top: 40%;
  //   transform: translateY(-50%);
  color: #295f98;
}
.register-form .checkbox-group {
  display: flex;
  align-items: center;
  color: #295f98;
  margin-bottom: 1.5rem;
}
.register-form .checkbox-group input {
  margin-right: 0.5rem;
}
.register-form .register-btn {
  width: 100%;
  background-color: #1e40af;
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-link {
  text-align: center;
  color: #295f98;
  margin-top: 1rem;
}
.login-link a {
  color: #60a5fa;
  text-decoration: none;
}
.user {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%233498db"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A9 9 0 0112 15a9 9 0 016.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" /></svg>');
  width: 30px;
  height: 30px;
}
.mail {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%233498db"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a3 3 0 003.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" /></svg>');
  width: 25px;
  height: 25px;
}
.lock {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%233498db"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8V6a5 5 0 00-10 0v2a2 2 0 00-2 2v7a2 2 0 002 2h10a2 2 0 002-2v-7a2 2 0 00-2-2z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 8h6" /></svg>');
  width: 25px;
  height: 25px;
}
// .lock {
//   background-image: url("../../../../public/img/lock.png");
//   background-size: cover;
//   width: 30px;
//   height: 25px;
//   right: 2px;
// }
