.ticket-stats-container {
  width: 1200px;
  padding: 20px;
  margin-left: 260px;
}
.ticket-stats-container {
  .chart-container {
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .chart {
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
  }

  canvas {
    max-width: 100%;
    height: auto;
  }
}
